<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Chef Signup</title>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />

    <meta content="" name="description" />
    <meta content="" name="keywords" />

    <!-- Favicons -->
    <link href="" rel="icon" />
    <link href="" rel="apple-touch-icon" />

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,600;1,700&family=Amatic+SC:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Inter:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap"
      rel="stylesheet"
    />

    <!-- Vendor CSS Files -->
    <link
      href="../static/vendor/bootstrap/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link
      href="../static/vendor/bootstrap-icons/bootstrap-icons.css"
      rel="stylesheet"
    />
    <link href="../static/vendor/aos/aos.css" rel="stylesheet" />
    <link
      href="../static/vendor/glightbox/css/glightbox.min.css"
      rel="stylesheet"
    />
    <link
      href="../static/vendor/swiper/swiper-bundle.min.css"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
      integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />

    <!-- Template Main CSS File -->
    <link href="../static/css/main.css" rel="stylesheet" />

    <!-- =======================================================
    * Template Name: Yummy - v1.1.0
    * Template URL: https://bootstrapmade.com/yummy-bootstrap-restaurant-website-template/
    * Author: BootstrapMade.com
    * License: https://bootstrapmade.com/license/
    ======================================================== -->
  </head>

  <body>
    <!-- ======= Header ======= -->
    <header id="header" class="header fixed-top d-flex align-items-center">
      <div class="container d-flex align-items-center justify-content-between">
        <a href="/" class="logo d-flex align-items-center me-auto me-lg-0">
          <!-- Uncomment the line below if you also wish to use an image logo -->
          <!-- <img src="../static/img/logo.png" alt=""> -->
          <h1>Meet<span>Hunger.</span></h1>
        </a>

        <nav id="navbar" class="navbar">
          <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/blog">Blog</a></li>
            <li><a href="/findachef" id="chefs">Find A Chef</a></li>
            <li><a href="/donate">Donate</a></li>
            <li><a href="/aboutus">About</a></li>
            <li><a href="/contactus">Contact</a></li>
            {% if 'username' in session %}
            <li class="dropdown">
              <a href="#"
                ><span>{{session["username"]}}</span>
                <i class="bi bi-chevron-down dropdown-indicator"></i
              ></a>
              <ul>
                <li><a href="/editprofile">Profile</a></li>
                <li><a href="/logout">Logout</a></li>
              </ul>
            </li>
            {% else %}
            <a class="btn-book-a-table" href="/login">Login</a>
            {% endif %}
          </ul>
        </nav>
        <!-- .navbar -->

        <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
        <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>
      </div>
    </header>
    <!-- End Header -->
    <div class="py-4 my-3"></div>

    <!-- ======= Chef Section ======= -->
    <section class="book-a-table pb-0 reservation-form-bg">
      <div class="container">
        <div class="section-header pb-0">
          <h2>A great chef has to be passionate about food and cooking.</h2>
          <p>Add Your <span>Chef</span> Information</p>
        </div>

        <div class="row g-0 d-flex align-items-center">
          <!--Start Form-->
          <form action="/joinaschef" method="post" class="php-email-form">
            <div class="row gy-4">
              <div class="col-lg-4 col-md-6"></div>
              <div class="col-lg-4 col-md-6">
<!--                <input-->
<!--                  type="text"-->
<!--                  name="city"-->
<!--                  class="form-control"-->
<!--                  placeholder="Enter your city name"-->
<!--                />-->
                <select class="form-select" aria-label="Select City" name="city">
                      <option selected>Select City</option>
                      <option value="Dhaka">Dhaka</option>
                      <option value="Chattogram">Chattogram</option>
                      <option value="Khulna">Khulna</option>
                       <option  value="Sylhet">Sylhet</option>
                       <option  value="Rajshahi">Rajshahi</option>
                       <option  value="Rangpur">Rangpur</option>
                       <option  value="Mymensingh">Mymensingh</option>
                       <option  value="Barishal">Barishal</option>
                       <option  value="Cumilla">Cumilla</option>
                       <option  value="Gazipur">Gazipur</option>
                    </select>
              </div>
              <div class="col-lg-4 col-md-6"></div>
              <div class="col-lg-4 col-md-6"></div>
              <div class="col-lg-4 col-md-6">

                <select class="form-select" aria-label="Select Type of chef" name="skill">
                      <option selected>Select Type of chef</option>
                      <option value="Head Chef (or Executive Chef)">Head Chef (or Executive Chef)</option>
                      <option value="Sous Chef">Sous Chef</option>
                      <option value="Station Chef (Chef de Partie)">Station Chef (Chef de Partie)</option>
                      <option value="Expediter">Expediter</option>
                      <option value="Kitchen Manager">Kitchen Manager</option>
                      <option value="Pastry Chef (or Pâtissier)">Pastry Chef (or Pâtissier)</option>
                      <option value="Saucier">Saucier</option>
                      <option value="Fish Cook (or Poissonier)">Fish Cook (or Poissonier)</option>
                      <option value="Vegetable Cook (or Entremetier)">Vegetable Cook (or Entremetier)</option>
                      <option value="Meat Cook (or Rotisseur)">Meat Cook (or Rotisseur)</option>
                      <option value="Pantry Chef (or Chef Garde Manger)">Pantry Chef (or Chef Garde Manger)</option>
                      <option value="Commis Chef">Commis Chef</option>
                    </select>
              </div>
              <div class="col-lg-4 col-md-6"></div>
              <div class="col-lg-4 col-md-6"></div>
              <div class="col-lg-4 col-md-6">
                <input
                  type="text"
                  name="location"
                  class="form-control"
                  placeholder="Area Location"
                />
              </div>
              <div class="col-lg-4 col-md-6"></div>
              <div class="col-lg-4 col-md-6"></div>
              <div class="col-lg-4 col-md-6">
                <input
                  type="text"
                  name="workex"
                  class="form-control"
                  placeholder="Work Experience"
                />

              </div>
              <div class="col-lg-4 col-md-6"></div>
              <div class="col-lg-4 col-md-6"></div>
              <div class="col-lg-4 col-md-6">
                <input
                  type="text"
                  name="salary"
                  class="form-control"
                  placeholder="Expected Salary"
                />

              </div>
              <div class="col-lg-4 col-md-6"></div>
              <div class="col-lg-4 col-md-6"></div>
              <div class="col-lg-4 col-md-6">
                <textarea
                  type="text"
                  name="description"
                  class="form-control"
                  placeholder="Short description about you..."
                ></textarea>
              </div>
              <div class="col-lg-4 col-md-6"></div>
            </div>
            <div class="text-center">
              <button class="my-5" type="submit">Create</button>
            </div>
          </form>
          <!-- End Form -->
        </div>
      </div>
    </section>

    <!-- ======= Footer ======= -->
    {% include "footer.html" %}
    <!-- End Footer -->
    <a
      href="#"
      class="scroll-top d-flex align-items-center justify-content-center"
      ><i class="bi bi-arrow-up-short"></i
    ></a>

    <div id="preloader"></div>

    <!-- Vendor JS Files -->
    <script src="../static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="../static/vendor/aos/aos.js"></script>
    <script src="../static/vendor/glightbox/js/glightbox.min.js"></script>
    <script src="../static/vendor/purecounter/purecounter_vanilla.js"></script>
    <script src="../static/vendor/swiper/swiper-bundle.min.js"></script>
    <script>
      document.getElementById('chefs').className = 'active'
    </script>

    <!-- Template Main JS File -->
    <script src="../static/js/main.js"></script>
  </body>
</html>
